<section class="container">
  <div id="content" class="span-12 last">
    <div id="userbar">
      <% if current_user %>
        <ul>
          <span id="edit">Edit</span>
          <%= render :partial => "bars" %>
          <span id="swap">Add</div>
            <%= form_for @newbar do |f| %>
              <%= f.text_field :name, :placeholder =>"名称" %>
              <%= f.text_field :searchurl, :placeholder =>"URL地址" %>
              <%= submit_tag "OK", :name => nil, :id => "add" %>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</section>
