<!DOCTYPE html>
<html>
<head>
  <title>家酿酒俱乐部</title>
  <%= stylesheet_link_tag    "application", "screen", "style_new" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="menu">
    <%= link_to "极客的任意门", root_path, :id => "title"%> 
    <ul>
      <% if current_user %>
        <li><%= link_to "退出", log_out_path%></li>  
      <% else %>   
        <li><%= link_to "登录", log_in_path%></li>
        <li><%= link_to "注册", sign_up_path%></li>
      <% end %>
    </ul>
  <div class="clear"></div>
  </div>
  <div id="wrapper">
    <div class="special">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <p>100% homemade by <%= link_to "@willmouse", "http://twitter.com/willmouse", :target => "_blank" %></p>
    <div class="clear"></div>
  </div>
</body>
</html>
